
@{
    ViewBag.Title = "FacilityPage";
    Layout = "~/Views/HomePage/HomeMaster.cshtml";
}

<section class="facility" id="facility">

    <div class="container">

        <h1 class="heading"><span>'</span> our facilities <span>'</span></h1>

        <div class="box-container">
            <div class="box" data-aos="zoom-in">
                <a href="~/images/home7.jpg" title="expert doctors">
                    <img src="~/images/home7.jpg" alt="">
                </a>
            </div>
            <div class="box" data-aos="zoom-in">
                <a href="~/images/service6.jpg" title="expert doctors">
                    <img src="~/images/service6.jpg" alt="">
                </a>
            </div>
            <div class="box" data-aos="zoom-in">
                <a href="~/images/home5.jpg" title="emergency rooms">
                    <img src="~/images/home5.jpg" alt="">
                </a>
            </div>
            <div class="box" data-aos="zoom-in">
                <a href="~/images/service8.jpg" title="our team">
                    <img src="~/images/service8.jpg" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="~/images/service2.jpg" title="our lab">
                    <img src="~/images/service2.jpg" alt="">
                </a>
            </div>







            <div class="box" data-aos="zoom-in">
                <a href="~/images/service5.jpg" title="emergency rooms">
                    <img src="~/images/service5.jpg" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="~/images/service4.jpg" title="expert doctors">
                    <img src="~/images/service4.jpg" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="~/images/service1.jpg" title="emergency rooms">
                    <img src="~/images/service1.jpg" alt="">
                </a>
            </div>

            <div class="box" data-aos="zoom-in">
                <a href="~/images/service1.jpg" title="enough beds">
                    <img src="~/images/bed.jpg" alt="">
                </a>
            </div>

        </div>

    </div>

</section>
